Source/obj
Source/bin/Debug/netstandard2.0/Source.deps.json
Source/bin
Source/Source.csproj
Source/Source.csproj.user
APIGDTVietNam/obj
APIGDTVietNam/bin
APIGDTVietNam/APIGDTVietNam.csproj.user
APIGDTVietNam/.vs/APIGDTVietNam/v16/.suo
APIGDTVietNam/.vs/APIGDTVietNam/DesignTimeBuild/.dtbcache.v2
